.certificate
  h2
    margin-left: -5rem

  &__titles
    display: flex  

  &__title
    padding: 1rem 2rem 0rem 2rem
    cursor: pointer            

  &__imgs
    max-width: 150rem
    border: 5rem solid $color-primary-3
    @include response(1000)
      border-width: 3rem  

  &__img
    width: 100%
