html
  font-size: 62.5%
  box-sizing: border-box
  scroll-behavior: smooth

*,
*::after,
*::before
  // border: 2px solid blue
  box-sizing: inherit
  margin: 0
  padding: 0


body
  font-family: $font-primary
  font-size: 2.4rem
  line-height: 1.8
  color: $color-grey-light-1
  background-color: $color-primary-1
  width: 100vw
  overflow-x: hidden
  position: relative

.section
  // padding: 12rem 18rem
  padding: 10% 13%
  border-top: 1px solid $color-primary-2

body::-webkit-scrollbar
  display: none